@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 8.8rem;
}

p {
    font-size: 2em;
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
}

.app:before {
    content: '';
    background: url('./assets/weather-img.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.app .search {
    padding: 4rem;
}

.app .search input {
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    border-radius: 24px;
    background: rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .8);
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    font-family: 'Source Code Pro';
    color: #fff;
    caret-color: rgb(99, 85, 255);
}

.app .search input:focus {
    outline: none;
}

.app .search .searchIcon {
    position: relative;
    top: -4px;
    right: -348px;
}

.app .search input::placeholder {
    color: #fff;
}

.container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .top {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.app .top .description Button {
    margin: 60px auto;
    cursor: pointer;
}

.app .top .description Button:hover {
    border: none;
    transform: scale(1.1);
}

.app .bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    padding: 1.6rem;
    line-height: 3.2rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.bold {
    font-weight: 700;
}